.sqltext textarea {
    resize: none;
    font-family: Programma, monospace;
    font-size: 100%;
    font-weight: normal;
}

.sqltext textarea::selection {
    background-color: yellow;
    color: black;
}
